:root {
  --var-primary-color: #f3f3f0;
  --var-secondary-color: #828282;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--var-primary-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin-left: 40px;
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-weight: normal;
  font-size: 40;
  color: var(--var-secondary-color);
}

h3 {
  margin-top: 50px;
  font-weight: medium;
  font-size: 48px;
}

h4 {
  color: var(--var-secondary-color);
  text-align: center;
}

.about-h1 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 96px;
}

.work-h1 {
  padding-top: 40px;
}

.contact-h1 {
  padding-top: 40px;
}

.btn {
  display: inline-block;
  margin: 20px 250px;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  background: blueviolet;
}

img {
  margin-top: 40px;
}

i {
  color: var(--var-secondary-color);
  padding: 40px;
}

i:hover {
  color: blue;
}

p {
  text-align: justify;
  font-weight: medium;
  font-size: 36;
  line-height: 2;
  margin: 30px 100px;
}

footer {
  padding: 20px;
  text-align: center;
  margin: 30px;
}

footer i {
  font-size: 20px;
}

.heading {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.description {
  font-weight: medium;
  font-size: 20px;
  color: var(--var-secondary-color);
  margin: 0;
}

.project-link {
  background: blueviolet;
  color: white;
}

.link-container {
  text-align: center;
}

.contact-icon {
  text-align: center;
  font-size: 40px;
}

.project-link:hover {
  background: #6c757d;
}

@media (max-width: 1024px) {
  body {
    text-align: center;
  }

  h1,
  h2 {
    margin: 10px;
  }
  h3 {
    margin-left: 0;
  }

  h4 {
    margin-top: 30px;
  }

  .about-h1 {
    font-size: 45px;
  }

  .btn {
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  p {
    margin: 20px 0;
    font-size: 22px;
  }
  i {
    margin-top: 20px;
  }
}
